In [1]:
!pip install SQLAlchemy==1.4.29

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: SQLAlchemy==1.4.29 in c:\users\164265\appdata\roaming\python\python39\site-packages (1.4.29)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy==1.4.29) (1.1.1)

In [2]:
import sqlalchemy as sqldb

In [3]:
db='mysql'
host='localhost'
schema='sakila'
username='root'
password='Password'
port=3306

connection_str = f'{db}+pymysql://{username}:{password}@{host}:{port}/{schema}?autocommit=true '
engine = sqldb.create_engine(connection_str)

connection = engine.connect()

In [4]:
# Execute Query
query = """SELECT *
           FROM world.country
           LIMIT 5"""


result = connection.execute(query)
records = result.fetchall()

for record in records:
    print(record)
    print()

('ABW', 'Aruba', 'North America', 'Caribbean', Decimal('196.00'), None, 103000, Decimal('78.4'), Decimal('828.00'), Decimal('793.00'), 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW')

('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', Decimal('652090.00'), 1919, 22720000, Decimal('45.9'), Decimal('5976.00'), None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF')

('AGO', 'Angola', 'Africa', 'Central Africa', Decimal('1246700.00'), 1975, 12878000, Decimal('38.3'), Decimal('6648.00'), Decimal('7984.00'), 'Angola', 'Republic', 'Jos', 56, 'AO')

('AIA', 'Anguilla', 'North America', 'Caribbean', Decimal('96.00'), None, 8000, Decimal('76.1'), Decimal('63.20'), None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI')

('ALB', 'Albania', 'Europe', 'Southern Europe', Decimal('28748.00'), 1912, 3401200, Decimal('71.6'), Decimal('3205.00'), Decimal('2500.00'), 'Shqip', 'Republic', 'Rexhep Mejdani', 34, 'AL')

In [5]:
# Fetch list of columns from query
result = connection.execute(query)
[ i[0] for i in result.cursor.description ]

['Code',
 'Name',
 'Continent',
 'Region',
 'SurfaceArea',
 'IndepYear',
 'Population',
 'LifeExpectancy',
 'GNP',
 'GNPOld',
 'LocalName',
 'GovernmentForm',
 'HeadOfState',
 'Capital',
 'Code2']

In [6]:
# Update records using sql query

update_query = "Update world.country set surfaceArea = 196 where Name = 'Aruba'"
result = connection.execute(update_query)

In [7]:
connection.close()